* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 16px;
	line-height: 1.3;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}


.container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}



.header__top {
	background-color: #4cb1ca;
	padding: 18px 15px;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
}

.header__top-box {
	display: flex;
}

.header__top-language select,
.header__top-currency select {
	/* background: transparent; */
	border: none;
	color: #fff;
	background: #4cb1ca;
	outline: none;
}

.language-select-title,
.currency-select-title {
	color: #afe9f8;
	font-size: 13px;
}

.header__top-navigation {
	display: inline-flex;
	gap: 25px;
}

.header__top-navigation-link {
	color: #fff;
	font-size: 14px;
	transition: all .3s;
	position: relative;
}

.header__top-navigation-link:not(:last-child)::after {
	content: '';
	position: absolute;
	right: -15px;
	top: 2px;
	height: 15px;
	width: 1px;
	background: #ffffff;
	display: block;
	transform: none;
}

.header__top-navigation-link:hover {
	text-decoration: underline;

}

.header__bottom {
	padding-block: 40px
}

.header__bottom-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__bottom-logo {}

.header__bottom-menu {}

.menu {}

.header__bottom-items {
	display: flex;
	gap: 30px;
}

.header__bottom-item {}

.header__bottom-link {
	color: #737373;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .3s;

}

.header__bottom-link:hover {
	color: #7db122;

}

.header__bottom-link-cart {
	background-color: #7db122;
	padding: 10px;
	display: inline-flex;
	border-radius: 50%;
	width: 35px;
	height: auto;
	aspect-ratio: 1;
}

.header__bottom-link-cart img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.header__bottom-navigation {
	display: flex;
	gap: 10px;
	align-items: center;
}

.header__bottom-search {
	position: relative;
}

.header__bottom-search input {
	padding: 6px;
	border: 1px solid #c6c6c6;

}

.search-button {
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	top: 4px;
	right: 10px;
	cursor: pointer;
}

.search-button img {
	width: 20px;
	height: auto;
	aspect-ratio: 1;
}

.header__bottom-cart {}

.header__cart-button {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .3s;
	cursor: pointer;
}

.header__cart-button:hover {
	scale: 1.1;
}

.header__cart-count {}


/* slider */

.swiper-slide {
	width: 100vw;
	position: relative;
}

.banner__slider-inner {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {
	/* position: relative; */
	/* width: 100vw; */
	/* height: 580px; */
	/* как раньше было */
}

.swiper-slide-banner {
	height: 470px;
	/* height: 100%; */
}

.banner__slider-img {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.banner__slider-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* важно для растяжки без искажения пропорций */
	display: block;
}


.banner__slider-content {
	top: 0;
	position: absolute;
	z-index: 2;
	color: #ffffff;

	top: 195px;
	background-color: hsl(0deg 0% 0% / 55%);
	padding: 5px;

}

.banner__slider-title {
	font-size: 30px;
	font-weight: 300;
	padding: 0;
}

.banner__slider-subtitle {
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

.navigation-btn {

	/* transform: translateY(-50%); */
}

.swiper-button-prev {}

.swiper-button-next {}

.banner-prev {
	width: 60px !important;
	border-radius: 50%;
	height: auto !important;
	aspect-ratio: 1;
	background-color: #fff;
}

.banner-next {
	width: 60px !important;
	border-radius: 50%;
	height: auto !important;
	aspect-ratio: 1;
	background-color: #fff;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}



/* товары */
.products {
	padding-block: 45px 85px;

}

.container {}

.goods__wrapper {
	display: flex;
	gap: 30px;
}

.goods {}

.goods-title {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 25px;
	font-weight: 500;
	color: #635f57;
}

.sloy {
	margin-top: 50px;
	margin-bottom: 25px;
}

.goods__box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;

}

.goods__box-item {
	max-width: 235px;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.goods__box-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.new {
	position: relative;
}

.new::after {
	content: '';
	position: absolute;
	top: -4px;
	right: -4px;
	width: 100%;
	height: 100%;
	background-image: url(../images/icons/new.png);
	background-repeat: no-repeat;
	background-position: right top;
	/* Это ключевой момент */

}

.sale {
	position: relative;
}

.sale::after {
	content: '';
	position: absolute;
	top: -4px;
	left: -4px;
	width: 100%;
	height: 100%;
	background-image: url(../images/icons/salle.png);
	background-repeat: no-repeat;
	background-position: left top;

}

.goods__box-img {
	margin-bottom: 15px;
}

.goods__box-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
	z-index: 5;
}

.goods__box-content {}

.goods__stock {
	display: flex;
	align-items: center;
}

.goods__box-title {
	font-size: 14px;
	font-weight: 500;
}

.old-price {
	text-decoration: line-through;
	color: #484848;
	margin-right: 10px;
	font-size: 14px;
	font-weight: 700;

}

.goods__box-price {
	color: #7db122;
	font-weight: 600;
}

.goods__box-basket {
	background-color: #7db122;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .3s;
	display: inline-flex;
	/* width: 50px; */
	/* height: auto; */
	/* margin: 0 auto; */

}

.goods__box-basket img {
	/* width: 25px; */
	/* aspect-ratio: 1; */
	/* margin: 0 auto; */
}

.goods__box-basket:hover {
	scale: 1.1;
}


.sidebar {}

.sidebar__sticky {
	position: sticky;
	top: 10px;

}

.sidebar__box {

	background-color: #ffffff;
	max-width: 233px;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	z-index: 5;
	position: relative;
	/* top: 20px; */
	transition: all .3s;
	border-top: 4px solid #4cb1ca;
	margin-bottom: 40px;

}

.sidebar__box-title {
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	max-width: 150px;
	margin: 0 auto;
	color: #635f57;

}

.sidebar__box-img {
	width: 190px;
	height: 350px;

	overflow: hidden;
}



.sidebar__img-wrapper {}

.sidebar__img {
	position: relative;
	right: 125px;
	;
	/* max-width: 100%; */
	/* max-height: 500px; */
	/* height: auto; */
}




.sidebar__box-button {
	position: absolute;
	/* display: block; */
	color: #fff;
	background-color: #4cb1ca;
	border: none;
	outline: none;
	padding: 15px 25px;
	margin: 0 auto;
	z-index: 55;
	overflow: visible;
	cursor: pointer;
	left: 50%;
	transform: translateX(-50%);
	bottom: 33px;
	text-wrap: nowrap;
	transition: all .3s;
}

.sidebar__box-button:hover {
	color: #000;
	background-color: #fff
}


.sidebar__form {
	background-color: #ffffff;
	max-width: 233px;
	overflow: hidden;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	z-index: 5;
	/* position: sticky; */
	/* top: 480px; */
	transition: all .3s;
	border-top: 4px solid #4cb1ca;
}

.sidebar__form-title {

	text-align: center;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	max-width: 100%;
	margin: 0 auto;
	color: #635f57;
	margin-top: 5px;
	margin-bottom: 15px;
}

.sidebar__form-text {
	text-align: center;
	font-size: 13px;
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.sidebar__form-box {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.sidebar__form-input {
	outline: none;
	border: 1px solid #c6c6c6;
	padding: 8px;
	width: 100%;
}

.sidebar__form-button {
	background-color: #7eb123;
	color: #fff;
	font-size: 15px;
	outline: none;
	border: none;
	padding: 15px 23px;
	cursor: pointer;
	transition: all .3s;
}

.sidebar__form-button:hover {
	background-color: #4cb1ca;
	;

}


.footer {}



.footer__top {

	background-color: #4cb1ca;
	padding: 18px 15px
}

.footer__top-item {}

.footer__top-list {
	display: flex;
	gap: 100px;
	justify-content: space-between;
}

.footer__top-items {
	display: flex;

	gap: 20px;
	align-items: center;
	text-wrap: nowrap;
}

.footer__top-items a {
	font-size: 21px;
	font-weight: 400;
	color: #fff;
	margin-left: -9px;
	transition: all .3s;
}

.footer__top-items a:hover {
	scale: 1.1;
}

.footer__top-img {
	background-color: #fff;
	padding: 20px;
	border-radius: 50%;
	transition: all .3s;
	display: inline-flex;

}

.footer__top-img:hover {
	transform: scale(1.1);

}

.footer__top-img img {}

.footer__top-title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 21px;
}

.footer__header {
	background-color: #39a0b9;
}

.footer__header {}

.container {}

.footer__header-box {
	padding-block: 40px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	gap: 70px;
}

.footer__header-items {
	max-width: 233px;
	width: 100%;
}

.footer__header-items:not(:last-child) {
	margin-bottom: 35px
}

.footer__header-title {
	font-size: 20px;
	font-weight: 400;
	color: #f5f5f5;
	text-transform: uppercase;
	margin-bottom: 25px;

}

.footer__header-like {
	margin-bottom: 25px;
}

.footer__header-like-title {
	color: #fff;
	margin-bottom: 5px;
}

.footer__header-gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
	row-gap: 4px;
	position: relative;
}

.footer__header-gallery::after {
	content: '';
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #4cb1ca;
}

.footer__header-gallery::before {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #4cb1ca;
}

.footer__header-gallery-img {}

.footer__header-text {
	margin-top: 25px;
	color: #f5f5f5;
}

.footer__header-list {}

.footer__header-img {
	display: flex;
	gap: 15px;
	width: 280px;
}

.footer__header-img div {
	display: inline-block;
	background-color: #fff;
	padding: 20px;
	border-radius: 50px;
	/* width: 40px;
	aspect-ratio: 1; */
	height: 60px;
}

.footer__header-tex {
	color: #f5f5f5;
	max-width: 235px;
	width: 100%;
}

.footer__header-information {}

.footer__header-information-link {
	color: #fff;
	font-size: 13px;
	display: block;
	text-wrap: nowrap;
	position: relative;
}

.footer__header-information-link:after {
	content: '>';
	position: absolute;
	bottom: -5px;
	left: -15px;
	top: 0px;
	width: 100%;
	height: 1px;
	/* background-color: #4cb1ca; */
}

.footer__header-information-link:hover {
	color: #000
}

.footer__header-information-link:not(:last-child) {
	margin-bottom: 10px;
}

.footer__header-contact {}

.footer__header-contact-items {}

.footer__header-contact-item {
	color: #fff;
}

.footer__header-contact-item:not(:last-child) {
	margin-bottom: 10px;
	text-wrap: nowrap;
}

.footer__header-social {}

.footer__header-social-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.footer__header-social-item {}

.footer__header-contact-item-link {
	transition: all .3s;

}

.footer__header-contact-item-link:hover {
	scale: 1.1;
	color: #000;
}

.footer__header-social-item-link:last-child {
	width: 50px;
	height: 50px;
}


.footer__header-social {
	margin-top: 30px;
}

.footer__header-social-items {
	transition: all .3s;
}

.footer__header-social-item:hover {
	scale: 1.1;
}

.footer__header-social-item {}

.footer__header-social-item-link {
	background-color: #fff;
	padding: 15px;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer__header-social-item-link img {
	/* width: 50px ;
	height: auto;
	aspect-ratio: 1; */
}

.footer__bottom {
	padding-block: 25px;
	background-color: #0b4b5a;
}



.footer__bottom-box {
	display: flex;
	justify-content: space-between;
	gap: 50px;

}

.footer__bottom-cogitating {}

.footer__bottom-cogitating-text {
	color: #8adcf0;
}

.header__top-navigation {}

.footer__bottom-box .header__top-navigation-link {
	color: #8adcf0;

}

.footer__bottom-box .header__top-navigation-link:not(:last-child)::after {
	content: '';
	position: absolute;
	right: -15px;
	top: 2px;
	height: 15px;
	width: 1px;
	background: #8adcf0;
	display: block;
	transform: none;
}